* {
    box-sizing: border-box;
}

a {
text-decoration: none;
}

.product-index{
    width: 100%;
}

.tab__items{
    display: flex;
    margin: 0;
    gap: 60px;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 40px;
    border-bottom: 3px solid #D9D9D9;
}

.tab__items li{
    list-style: none;
    margin-left: 45px;
}

.tab__items li a{
    color: #d9d9d9;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
}

.tab__items li.active a {
    color: #FF5555;
    border-bottom-color:#FF5555 ;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1400px;
    margin: 20px 20px 0 40px;
    padding: 0;
}

.product{
    width: 250px;
    max-width: 100%;
    text-align: center;
    padding: 5px;
}

.product img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio:1/1;
}

.product p{
    font-size: 16px;
    color: black;
    text-align: left;
}

@media screen and (min-width:768px) and (max-width:850px){
    .product{
        width: 90%;
        margin: 0 auto;
    }

    .tab__items{
        font-size: 18px;
        gap: 30px;
        margin: 5px 20px;
    }

    .product p{
        font-size: 15px;
    }
}