.profile__content{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.profile__content-ttl{
    max-width: 300px;
    width: 100%;
    height: 30px;
    margin: 0 auto;
}


input[type="file"].d-none {
    display: none;
}

.user-information{
    display: flex;
}

.user__image{
    width: 150px;
    height: 150px;
}

.select__avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
}

.select-button{
    width: 180px;
    height: 50px;
    border: 2px solid #FF5555;
    border-radius: 10px;
    color: #FF5555;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.profile--form{
    margin: 25px 0;
}

.form__label {
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form__input {
    width: 100%;
    border: 1px solid #c9c8c8;
    border-radius: 3px;
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.update__button{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.update__button-submit{
    width: 100%;
    background-color: #FF5555;
    color: white;
    height: 35px;
    border: 1px solid #FF5555;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


@media screen and (min-width: 768px) and (max-width: 850px){
    .profile__content{
        padding: 20px;
    }

    .user-information{
        flex-direction: column;
        align-items: center;
    }

    .user__image{
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }

    .select__avatar{
        margin: 20px auto;
    }

    .select-button{
        width: 100%;
        max-width: 200px;
        font-size: 16px;
    }

    .form__input{
        font-size: 16px;
        height: 40px;
    }

    .update__button-submit{
        font-size: 16px;
        height: 40px;
    }
}