* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.profile__content {
    max-width: 1500px;
    width: 100%;
}

.user__image{
    width: 100px;
    flex-shrink: 0;
}

.user__image img{
    width: 100%;
    display: block;
}

.user-info{
    flex:1;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
}

.user_name{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.star-filled{
    color: yellow;
    font-size: 30px;
    letter-spacing: 5px;
}

.star{
    font-size: 30px;
    letter-spacing: 5px;
    color: #D9D9D9;
}

.image-space{
    width: 700px;
    margin: 30px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.edit-link{
    width: 180px;
    padding: 8px;
    border: 1px solid #FF5555;
    border-radius: 10px;
    color: #FF5555;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    flex-shrink: 0;
}

.edit-link__button{
    color: #FF5555;
}

.tab-list{
    max-width: 100%;
    width: 100%;
}

.tab-item{
    display: flex;
    margin: 5px 0 20px 0;
    gap: 40px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    border-bottom: 3px solid #D9D9D9;
}

.tab-item li{
    list-style: none;
    margin-left: 40px;
}

.tab-item li a{
    color: #d9d9d9;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 3px solid transparent;
}

.tab-item li.active a{
    color: #FF5555;
    border-bottom: 3px solid #FF5555;
}

.product-list{
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 0 ;
}

.product {
    width: 250px;
    max-width: 100%;
    text-align: center;
    padding: 20px 30px;
    margin: 0 20px;

}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.product p {
    font-size: 14px;
    color: black;
    text-align: left;
}

.dealing{
    min-width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-align: center;
    margin-left: 10px;
}

.deal-product{
    width: 250px;
    max-width: 100%;
    margin: 20px 50px;
    position: relative;

}

.deal-product img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.deal-product span{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%,25%);
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:768px) and (max-width:850px){
    .image-space{
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 30px;
    }
}